body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top:50px;
  background: rgba(5, 5, 5, 0.376);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  color: rgb(16, 1, 1);
}
.navbar-brand {
  color: rgb(241, 237, 237);
}
.navbar{
  background: rgba(3, 0, 0, 0.935);
}

